@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 33.3%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #a22222;
}

#column-2 {
  background: #1a026b;
}

#column-3 {
  background: #4d4c4c;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: darkcyan
  }

  #column-1 {
    background-color: darkgray
  }

  #column-2 {
    background-color: darkmagenta
  }

  #column-3 {
    background-color: darkblue;
  }

  footer {
    background-color: mintcream;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: deeppink;
  }

  #column-1 {
    background-color: deepskyblue;
  }

  #column-2 {
    background-color: darkviolet;
  }

  #column-3 {
    background-color: darkturquoise;
  }

  footer {
    background-color: darkslateblue;
  }
   
}
